<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Countries</title>
</head>
<body>
    <h1>Tambah Negara</h1>

    <form action="/countries/add" method="POST">

        <label for="name">Nama Negara</label><br>
        <input name="name" type="text"><br><br>


        <label for="releasedYear">Ibu Kota</label><br>
        <input name="capital" type="text"><br><br>

        <label for="name">Bahasa</label><br>
        <input name="language" type="text"><br><br>

        <label for="name">Mata Uang</label><br>
        <input name="currency" type="text"><br><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>