<%- include ('./partials/header.ejs') %><br>
<%- include ('./partials/navbar.ejs') %><br>

    <h2>Easy Travel App</h2>

    <h3>Welcome to Easy Travel</h3>
    <a href = "/countries">Countries List</a><br>
    <a href = "/travellers">Travellers List</a><br>
    
<%- include ('./partials/footer.ejs') %><br>