<%- include ('./partials/header.ejs') %><br>

<body>
    <h2>Register</h2>
    <p><a href="/users/login">Login Now !</a></p>

    <form action="/users/register" method="post">
        <label for="">username</label><br>
        <input type="text" name="username" id=""><br><br>

        <label for="">password</label><br>
        <input type="password" name="password" id=""> <br><br>

        <button type="submit">Register</button>
    </form>
    
</body>
<%- include ('./partials/footer.ejs') %><br>